{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col md-6">
      <form action="{% url 'login' %}" method="post">{% csrf_token %}
        <div class="form-group">
          <input type="text" style="width: 25%;" class="form-control"name="username"
            placeholder="username">
        </div>
        <div class="form-group">
          <input type="password" style="width: 25%; border-style: solid;" class="form-control" name="password"
             placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <div>
        {% for message in messages %}
        {{message}}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}