{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="row align-items-centre" >
    <div class="col md-6">
      <form action="{% url 'register' %}" method="post">{% csrf_token %}
        <div class="form-group">
          <input type="text" style="width: 25%;" class="form-control" id="firstname"
            name="firstname" placeholder="First Name">
        </div>
        <div class="form-group">
          <input type="email " style="width: 25%;" class="form-control" id="lastname"
          name="lastname"placeholder="Last Name">
        </div>
        <div class="form-group">
          <input type="email " style="width: 25%;" class="form-control" id="username"
          name="username"placeholder="Username">
        </div>
        <div class="form-group">
          <input type="email " style="width: 25%;" class="form-control" id="exampleInputEmail1" name="email"
            aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>



        <div class="form-group">
          <input type="password" style="width: 25%;" class="form-control" id="password1"name="password1"
            placeholder="Enter your password">
        </div>
        <div class="form-group">
          <input type="password" style="width: 25%; border-style: solid;" class="form-control" name="password2"
            id="password2" placeholder="Confirm password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember</label>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>
      <div>
        {% for message in messages %}
        {{message}}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}